<section class="usage-terms">
  <div class="usage-terms-banner">
    <div class="banner-title">Termos de uso</div>
    <div class="banner-subtitle">Ao utilizar esta plataforma, você estará manifestando concordância com os termos e condições</div>
  </div>
  <div class="content">
    <ul class="nav">
      <li><a class="link" (click)="scroll(sampa)">O que é a Sampa+Rural</a></li>
      <li><a class="link" (click)="scroll(information)">Que informações são coletadas e de que forma</a></li>
      <li><a class="link" (click)="scroll(aboutInfo)">Sobre a publicação e disponibilização das informações na Sampa+Rural</a></li>
      <li><a class="link" (click)="scroll(security)">Sobre a segurança dos dados</a></li>
      <li><a class="link" (click)="scroll(inappropriateUsage)">Uso inapropriado das informações ou da plataforma</a></li>
      <li><a class="link" (click)="scroll(user)">Responsabilidades do usuário</a></li>
      <li><a class="link" (click)="scroll(legislation)">Legislação aplicável</a></li>
      <li><a class="link" (click)="scroll(lgpd)">LGPD – Lei Geral de Proteção de Dados Pessoais (LGPD)</a></li>
      <li><a class="link" (click)="scroll(terms)">Alterações da política de privacidade</a></li>
    </ul>
    <div class="info">
      <div class="text-box">
        <div class="text">Última Atualização 07/setembro/2020
          <br /><br />
          A Política de Privacidade da Sampa+Rural tem por objetivo informar aos seus usuários sobre a segurança dos dados;
          a publicação e disponibilização das informações;
          que informações são coletadas durante o acesso, em que momento e para que finalidade;
          assim como as  responsabilidades do usuário e usos inapropriado e não permitidos das informações e da plataforma.
          Caso não concorde com esta política, não utilize a Sampa+Rural, nem suas funcionalidades,
          não inclua informações e nem baixe  dados. Ao acessar a Sampa+Rural você concorda com esses termos e se compromete a respeitá-los.
        </div>
      </div>
      <div class="text-box" #sampa>
        <div class="text-box-title">O que é a Sampa+Rural</div>
        <div class="text">
          A Sampa+Rural é uma plataforma online colaborativa para conectar os diversos atores relacionados
          com a agricultura local sustentável e às zonas rurais do município de São Paulo,
          reunindo e disponibilizando dados e informações sobre os territórios rurais da cidade.
          Tem por objetivo tornar agricultores visíveis ao mercado; viabilizar e fortalecer mercados;
          o turismo rural e o ecoturismo; as iniciativas da sociedade civil;
          e as políticas públicas ligadas às zonas rurais paulistanas,
          a partir da disponibilização de dados comerciais e institucionais destes atores e estabelecimentos.
          A Sampa+Rural destina-se ao acesso livre pela população, que pode navegar usando as funcionalidades disponibilizadas,
          baixar os dados na página de dados abertos e contribuir com a inclusão de novos locais,
          sugestão de atualização e alteração, fotos e comentários.
          É uma construção coletiva: contou com muitos parceiros para a sua construção e é gerida e alimentada a muitas mãos.
        </div>
      </div>
      <div class="text-box" #information>
        <div class="text-box-title">Que informações são coletadas e de que forma</div>
        <div class="text"><b>1 - Dados pessoais e informações para publicação</b><br />
          <b>1.1 - Inclusão de novos pontos  – Incluir Local</b><br />
          No menu da Sampa+Rural o usuário encontra o botão ‘Incluir local’. Qualquer usuário poderá solicitar a inclusão de um local que tenha conhecimento e não esteja mapeado na plataforma em uma de suas categorias - Agricultura; Mercado; Turismo e Vivência Rural; Iniciativas e Políticas Públicas.<br/>
          Ao preencher o formulário, o usuário além das informações sobre o local, fornece algumas informações pessoais de cadastro como  nome, e-mail e telefone para que o serviço de moderação da Sampa+Rural possa entrar em contato para confirmar os dados fornecidos quando necessário e para disparo de notificação sobre o aceite ou não das propostas de inclusão. Esses dados de cadastro são considerados informações pessoais, não publicadas,  nem compartilhadas e destinam-se apenas para uso interno de gestão dos dados da Sampa+Rural.<br/>
          As informações fornecidas para publicação, incluindo fotos, serão disponibilizadas na Sampa+Rural somente após análise e aprovação do serviço de moderação da Sampa+Rural.<br/ >
          O uso de cada informação solicitada está explicitado no formulário de obtenção dos dados. Ao fornecê-los o usuário se responsabiliza pela veracidade das informações fornecidas e autoriza a sua publicação conforme discriminado.
          <br /><br />

          <b>1.2 - Alteração de informações Publicadas -  Sugerir uma alteração e Enviar fotos do local</b><br />
          Um usuário poderá solicitar alteração de informações e enviar fotos de pontos publicados na Sampa+Rural por meio da funcionalidade “Sugerir uma alteração” ou “Envie fotos do local”,  disponível nos perfis de cada local.  Nesta funcionalidade, é solicitado o nome do usuário e e-mail para contato. Estes dados são dados de cadastro, considerados dados pessoais e não serão publicados ou compartilhados.  Serão utilizados apenas para gestão interna dos dados da Sampa+Rural, caso seja necessário entrar em contato para confirmação de informações e também para disparo de notificação sobre o aceite ou não das propostas de inclusão<br/>
          As informações fornecidas no campo aberto para a publicação, assim como as fotos, serão disponibilizadas na Sampa+Rural somente após análise e aprovação do serviço de moderação da Sampa+Rural.<br/>
          Ao fornecer as informações o usuário se responsabiliza por sua veracidade e autoriza a sua publicação.
          <br /><br />

          <b>2 - Dados de Navegação</b><br />
          A plataforma poderá coletar informações dos dispositivos e navegador enquanto você navega, como provedor de Internet, tipo e versão de navegador, sistema operacional, tipo de dispositivo, tempo médio gasto nas páginas, páginas visualizadas, informações acessadas, endereço IP usado para conectar o computador à Internet, e outras para realizar estatísticas relevantes. São utilizados cookies para obtenção de dados estatísticos de acesso (páginas e funcionalidades acessadas, buscas realizadas, entre outras ações) durante a navegação na Sampa+Rural. Não instalamos nem ativamos programas que possam comprometer a segurança dos usuários ou invadir sua privacidade. As informações são utilizadas para gestão da aplicação e geração de informações estatísticas para melhoria de performance e aprimoramento de conteúdo.
          <br /><br />

          <b>Uso do Google Analytics</b><br/>
          Utilizamos a ferramenta Google Analytics para coletar informações de navegação de nossos usuários na Sampa+Rural. Essas informações são utilizadas para entender quais as funcionalidades e páginas mais utilizadas, conteúdos mais pesquisados para que possamos melhorar cada vez mais nossos conteúdos e experiência de uso. Se quiser saber mais como esta ferramenta funciona, acesse a página do serviço em https://policies.google.com/privacy?hl=pt-BR

          <b>3 - Informações de Localização</b><br />
          Se você habilitar o serviço de localização de seu dispositivo, estas informações são utilizadas para oferecer uma experiência melhor no acesso às funcionalidades de mapa e lista, priorizando os pontos localizados próximos à você. Algumas ferramentas de georreferenciamento não funcionam apropriadamente sem essa permissão de acesso.<br/>
        </div>
      </div>
      <div class="text-box" #aboutInfo>
        <div class="text-box-title">Sobre a publicação e disponibilização das informações na Sampa+Rural</div>
        <div class="text">

          As informações publicadas na Sampa+Rural em perfil, lista,  mapa e demais funcionalidades, assim como a sua disponibilização na página ‘dados abertos’, obedecem  o disposto na  <a class="link" target="_blank" href="https://www2.camara.leg.br/transparencia/acesso-a-informacao">Lei de Acesso à Informação - LAI</a> quando dados públicos, adicionado às condições de licença de uso específica quando alimentadas por iniciativas parceiras que as definem.<br/>

          Os dados de ‘Agricultores com Contato’ (em Agricultura) e de ‘Vivência Rural’ (em Turismo e Vivência Rural) são informações comerciais coletadas diretamente com cada agricultor/a, a partir de formulário de coleta específico para a Sampa+Rural. Todas as informações publicadas foram disponibilizadas por seus proprietários, tendo em vista a disponibilização pública na Sampa+Rural para fins comerciais e de conexão.<br/>

          Os dados de Agricultores sem contato (em Agricultura) foram levantados pela Prefeitura de São Paulo, por meio de censo realizado pelo projeto Ligue os Pontos e outros levantamentos complementares, assim como via atendimento de assistência técnica e extensão rural, e compõe o banco de dados oficial sobre agricultores da cidade de São Paulo. Todas as informações são anonimizadas e generalizadas para retirar qualquer informação pessoal, permanecendo apenas aqueles dados passíveis de disponibilização sem identificação. São disponibilizadas a localização das unidades produtivas, de maneira similar ao realizado pelo  IBGE - Censo Agro, no CNEFE (Cadastro Nacional de Endereços para Fins Estatísticos) e acompanhando as diretrizes definidas pelo GeoSampa para a disponibilização desses dados.<br />

          As demais informações que compõe a categoria Agricultura, Mercado, Turismo e Vivência Rural e  Iniciativas e Políticas Públicas são informações públicas de estabelecimentos comerciais ou de interesse público, já disponibilizadas em outros meios ou coletadas diretamente. Essas informações foram reunidas por meio do compartilhamento por iniciativas parceiras da Sampa+Rural, conforme descrito na página ‘Sobre’, e obtidas por meio de levantamentos e atualizações realizadas no âmbito do projeto Ligue os Pontos para a constituição do banco de dados da plataforma.<br />

          Todas as informações disponibilizadas estão com informação da fonte dos dados e datas de atualização.<br />

          da Prefeitura de São Paulo, de iniciativas parceiras e da contribuição direta de usuários. Nesse último caso, o serviço de moderação da Sampa+Rural analisa cada solicitação, a fim de realizar validação simples das informações, não verificando, no entanto, qualquer certificação da licitude ou da veracidade das informações incluídas por terceiros, que são responsáveis pelas informações fornecidas. Da mesma forma, a qualquer momento as informações podem ser ajustadas ou excluídas mediante solicitação. É possível comunicar-se com o serviço  de moderação via perfil - campo “sugerir uma alteração” - e  via “contato” na página inicial da Sampa+Rural.<br />

          As informações publicizadas estão disponíveis na página ‘Dados Abertos’ para download,  conforme diretrizes da <a class="link" target="_blank" href="https://www2.camara.leg.br/transparencia/acesso-a-informacao">Lei de Acesso à Informação - LAI</a>
        </div>
      </div>
      <div class="text-box" #security>
        <div class="text-box-title">Sobre a segurança dos dados</div>
        <div class="text">
          A Sampa+Rural foi desenvolvida utilizando tecnologias que contemplam práticas de segurança dos dados e da aplicação. Todas as informações trafegadas entre a plataforma e as pessoas que a acessam são criptografadas com uso de certificados SSL. Informações pessoais são armazenadas em servidores seguros e de acesso controlado.<br/>
          Os softwares utilizados no servidor são atualizados com frequência para evitar que novas brechas de segurança sejam exploradas. Todos os acessos a áreas de conteúdo restrito são controlados e monitorados. Todo acesso às informações, páginas e APIs (Application Programming Interface) da aplicação são registrados em arquivos de histórico.
        </div>
      </div>
      <div class="text-box" #inappropriateUsage>
        <div class="text-box-title">Uso inapropriado das informações ou da plataforma</div>
        <div class="text">
          Consideramos uso inapropriado:<br />
          - Uso da Sampa+Rural para propósitos ilegais.<br />
          - Alteração de informações e uso dessas informações adulteradas para qualquer fim, seja em  redes sociais, listas de e-mails, ou outra forma de divulgação ou utilização.<br />
          - Modificar endereços de máquinas, de rede ou utilizar endereços de correio eletrônico de outros na tentativa de responsabilizar terceiros ou ocultar a identidade ou autoria,  destruir ou corromper dados e informações de outros usuários já publicados.<br />
          - Enviar propostas de inclusão de local, alteração de informações de perfil, fotos e comentários que contenham informações pessoais não autorizadas ou informações inverídicas, caluniosas difamatórias, de violência física ou moral, assumindo nesse caso toda a responsabilidade civil e penal decorrentes. <br />
          - Uso de qualquer tipo de consulta automatizada (robô) para acesso em massa às informações da Plataforma ou para solicitação de atualização de dados ou qualquer outra finalidade sem prévia autorização da equipe de gestão da Sampa+Rural.<br />
          - Violar copyright ou direito autoral alheio reproduzindo material sem prévia autorização ou desrespeitando os termos de uso e política de privacidade estabelecido pela Sampa+Rural e seus parceiros.
        </div>
      </div>
      <div class="text-box" #user>
        <div class="text-box-title">Responsabilidades do usuário</div>
        <div class="text">
          Os usuários são responsáveis pelas informações e fotos fornecidas por meio das ferramentas colaborativas da Sampa+Rural, devendo assegurar que apenas informações verídicas e autorizadas sejam propostas pelos canais disponibilizados, podendo responder penal e civilmente em caso de constatação de fraude ou liberação indevida de informações alheias.<br />
          Danos causados pelo uso indevido da Sampa+Rural a terceiros ou à Plataforma.
        </div>
      </div>
      <div class="text-box" #legislation>
        <div class="text-box-title">Legislação aplicável</div>
        <div class="text">
          Este Termo de Uso e Política de Privacidade  é regida e interpretado pela Legislação Brasileira.
        </div>
      </div>
      <div class="text-box" #lgpd>
        <div class="text-box-title">LGPD – Lei Geral de Proteção de Dados Pessoais (LGPD)</div>
        <div class="text">
          Conforme Artigo 5º. Da LGPD, incisos VI, VII, VIII e IX, o tratamento dos dados é de responsabilidade do Controlador, e são realizadas pelo Operador.  O controlador e o Operador  são denominados de  agentes de tratamento. <br/>
          Na Sampa+Rural, os agentes de tratamento estão representados pelo serviço  de moderação que é responsável pela gestão dos dados. O serviço  de moderação é realizado  por profissionais do Projeto Ligue os Pontos, da Secretaria Municipal de Desenvolvimento Urbano e Urbanismo - SMDU . Os profissionais, ao serem designados para assumir o papel de controlador, operador ou encarregado, são notificados de suas responsabilidades antes de aceitarem e assumirem as atividades. <br />
          Todos os dados pessoais que forem coletados e armazenados pela Sampa+Rural seguem as determinações da LGPD, Lei Nº 13.709/2018 quanto ao seu tratamento de privacidade.
        </div>
      </div>
      <div class="text-box" #terms>
        <div class="text-box-title">Alterações dos Termos de Uso e Política de Privacidade</div>
        <div class="text">
          Este documento pode ser atualizado sempre que for necessário para melhoria e aperfeiçoamento, sem aviso prévio. Recomendamos visitar com frequência.
        </div>
      </div>
    </div>
  </div>
</section>
