<footer fxLayout="row"
        fxLayout.lt-md="column">
  <mat-list fxLayout="row"
    fxLayoutAlign.lt-md="center"
    fxFlex="100%"
    fxFlex.lt-md="100%"
    class='partners'>
      <mat-list-item>
        <a href="http://www.capital.sp.gov.br/" target="_blank">
          <img src="assets/images/city-logo.png"
             srcset="assets/images/city-logo@2x.png 2x"/>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a href="https://mayorschallenge.bloomberg.org/" target="_blank">
          <img src="assets/images/bloomberg-logo.png"
              srcset="assets/images/bloomberg-logo@2x.png 2x"/>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a href="https://ligueospontos.prefeitura.sp.gov.br/" target="_blank">
          <img src="assets/images/ligue-os-pontos-logo.png"
              srcset="assets/images/ligue-os-pontos-logo@2x.png 2x"/>
        </a>
      </mat-list-item>
  </mat-list>
  <p fxHide.lt-md
     fxFlex="100%" class="footer-text"
     fxLayoutAlign="center center"
     fxFlex="100%">
    Todo o conteúdo desta plataforma está licenciado com uma Licença Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional
  </p>
  <mat-list fxLayout="row" fxLayoutAlign.lt-md="center"
     fxFlex="100%">

    <mat-list-item>
      <a routerLink="/contato" >Contato</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/termos">Termos de uso DEPLOY WORKS</a>
    </mat-list-item>
    <mat-list-item>
      <a href="https://www.instagram.com/ligueospontossp/" target="_blank">
        <img src="assets/images/instagram-logo.png"
            srcset="assets/images/instagram-logo@2x.png 2x"/>
      </a>
    </mat-list-item>
  </mat-list>
  <p fxHide fxHide.lt-md="false" class="footer-text">
    Todo o conteúdo desta plataforma está licenciado com uma Licença Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional
  </p>
</footer>
