<div class="category-links-bg">
  <div class="category-links">
    <div class="participate category-link">
      <div class="icon-links"></div>
      <div class="links-text">
        <div class="links-title">Faça parte</div>
        <div class="links-desc">Você faz parte ou conhece iniciativas que deveriam estar na Sampa+Rural? Foi a um local que ainda não tem o selo? Compartilhe seu saber. Adicione-as e divulgue-as!</div>
          <div class="link-buttons">
            <a class="link-button" routerLink="/contato" title="solicite um selo">+ solicite um selo</a>
          </div>
      </div>
    </div>
    <div class="data-origin category-link">
      <div class="icon-links"></div>
      <div class="links-text">
        <div class="links-title">Dados abertos</div>
        <div class="links-desc">Tenha acesso aos dados apresentados na sampa+rural,
           em formato aberto, para serem livremente utilizados, reutilizados e redistribuídos.</div>
        <div class="link-buttons">
          <a class="link-button" routerLink="/dados" title="Saiba mais">Acesse os dados abertos</a>
        </div>
      </div>
    </div>
  </div>
</div>